<!DOCTYPE html>
<html>
  <head>
    <title>Contact List</title>
    <link href="/Content/CSS/style.css" rel="stylesheet" type="text/CSS">
  </head>
  <body>
    <div id="wrapper">
      <h1>New Contact</h1>
      <div id="formWrapper">
        <form action="/contacts/add" method="post">
          <label for="firstName">First name</label>
          <input type="text" name="firstName" id="firstName" required><br>
          <label for="lastName">Last name</label>
          <input type="text" name="lastName" id="lastName"><br>
          <label for="email">Email</label>
          <input type="text" name="email" id="email" required><br>
          <label for="phoneNumber">Phone number</label>
          <input type="text" name="phoneNumber" id="phoneNumber" required><br>
          <button type="submit">Add Contact</button>
        </form>
      </div>
      <a href="/contacts">Go back to Contacts</a>
    </div>
  </body>
</html>
