<form action="/contacts/add" method="post">
  <label for="firstName">First name</label>
  <input type="text" name="firstName" id="firstName"><br>
  <label for="lastName">Last name</label>
  <input type="text" name="lastName" id="lastName"><br>
  <label for="email">Email</label>
  <input type="text" name="email" id="email"><br>
  <label for="phoneNumber">Phone number</label>
  <input type="text" name="phoneNumber" id="phoneNumber"><br>
  <button type="submit">Add Contact</button>
</form>
