<h1>Contacts</h1>

<table>
  <tr>
    <td>Name</td>
    <td>Email</td>
    <td>Phone #</td>
  </tr>
@foreach (var contact in Model) {
  <tr>
    <td>@contact.GetFullName()</td>
    <td>@contact.GetEmail()</td>
    <td>@contact.GetPhoneNumber()</td>
  </tr>
}
</table>
<a href="/contacts/new">Add New Contact</a>
