<h1>Contacts</h1>
<h2>EDIT CONTACTS</h2>

<table>
  <tr>
    <td>Name</td>
    <td>Email</td>
    <td>Phone #</td>
  </tr>
@foreach (var contact in Model) {
  <tr>
    <td class="name">
      <form action="/edit/name/@contact.GetId()">
      <button type="submit">@contact.GetFullName()</button>
      </form>
    </td>
    <td class="email">
      <form action="/edit/email/@contact.GetId()">
      <button type="submit">@contact.GetEmail()</button>
      </form>
    </td>
    <td class="phoneNumber">
      <form action="/edit/phoneNumber/@contact.GetId()">
      <button type="submit">@contact.GetPhoneNumber()</button>
      </form>
    </td>
  </tr>
}
</table>
<a href="/contacts/new">Add New Contact</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/Content/JS/scripts.js"></script>
