<!DOCTYPE html>
<html>
  <head>
    <title>Contact List</title>
    <link href="/Content/CSS/style.css" rel="stylesheet" type="text/CSS">
  </head>
  <body>
    <div id="wrapper">
      <h1>Contacts</h1>
      <h2>EDIT CONTACTS</h2>
      <h5><em>Click on any data field you would like to alter!</em></h5>
      <table id="edit">
        <tr>
          <td>Name</td>
          <td>Email</td>
          <td>Phone #</td>
        </tr>
      @foreach (var contact in Model) {
        <tr>
          <td class="name">
            <a href="/contacts/edit/form/name/@contact.GetId()">@contact.GetFullName()</a>
          </td>
          <td class="name">
            <a href="/contacts/edit/form/email/@contact.GetId()">@contact.GetEmail()</a>
          </td>
          <td class="name">
            <a href="/contacts/edit/form/phone/@contact.GetId()">@contact.GetPhoneNumber()</a>
          </td>
        </tr>
      }
      </table>
      <a href="/contacts/new">Add New Contact</a>
    </div>
  </body>
</html>
