<!DOCTYPE html>
<html>
  <head>
    <title>Contact List</title>
    <link href="/Content/CSS/style.css" rel="stylesheet" type="text/CSS">
  </head>
  <body>
    <div id="wrapper">
      <h1>Contact List</h1>
      <h2>Welcome</h2>
      <a href="/contacts">View Contacts</a>
      <a href="/contacts/new">Add New Contact</a>
    </div>

  </body>
</html>
